{% extends 'main/base.html' %}

{% block title %}
Стандарт
{% endblock %}

{% block body %}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">Номер "Стандарт" пропонує комфортне та затишне помешкання з одним або двома ліжками, власною ванною кімнатою з душем або ванною, телевізором, телефоном, безкоштовним Wi-Fi та додатковими зручностями. У номері можна відпочити та розслабитися після довгого дня відвідування місцевих визначних місць або ведення бізнесу. Наші номери стандарт класу - це ідеальне рішення для тих, хто шукає комфортне та доступне помешкання.        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>

{% endblock %}