{% extends 'main/base.html' %}

{% block title %}
Коментарі
{% endblock %}

{% block body %}
<div class="container">
    {% if tasks %}
        {% for el in tasks %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title }}</h3>
                <p>{{ el.task }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>У нас немає записів!</p>
    {% endif %}
    <center><button onclick="location.href='/create'" type="button" class="btn btn-success">Коментувати</button></center>
</div>
{% endblock %}
