{% extends 'main/base.html' %}

{% block title %}
Питання-відповіді
{% endblock %}

{% block body %}
<div class="container">

    <h3>Відповідь:</h3>
    {% if response %}
        <p class="lead">
        {{ response|safe }}
    </p>
    {% else %}
        <p class="lead">Для початку вкажіть питання</p>
{% endif %}

<h3>Задати питання:</h3>
<form method="post">
    {% csrf_token %}
    <input type="text" class="form-control" name="user_input">
    <button type="submit" class="btn btn-primary mt-3">Відправити</button>
</form>



</div>
{% endblock %}