{% extends 'main/base.html' %}

{% block title %}
Послуги
{% endblock %}

{% block body %}
<div class="main_content">

    <div class="container offers_page padding_top">
        <center><h1>Готель «Карпати» пропонує бездоганний цілодобовий сервіс і професійне обслуговування</h1></center>

        <br>

<center>
    <div class="col-md-6" style="width: 1250px; background: antiquewhite">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <center><div class="col-auto d-none d-lg-block">
          <img class="lazy" src="https://images.unsplash.com/photo-1583416750470-965b2707b355?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"  alt="img" style="width: 550px; height: 400px">
        </div>
                    <div class="text_box" style="font-family: 'Times New Roman'">
                        <br><h1>Сауна</h1>
                    <p>Нашим гостям ми пропонуємо насолодитися прекрасним оздоровчим відпочинком в сауні готелю з послугами професійного банщика.</p>
                    <div class="more_text" data-type="seo_text">
                        <p>Максимальна кількість осіб - 6</p>
                        <p>За детальною інформацією, будь ласка, звертайтесь до адміністратора.</p>
                    </div>
                </center>
        </div>

      </div>
    </div>

    <div class="col-md-6" style="width: 1250px; background: antiquewhite">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <center><div class="col-auto d-none d-lg-block">
          <img class="lazy" src="https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"  alt="img" style="width: 550px; height: 400px">
        </div>
                    <div class="text_box" style="font-family: 'Times New Roman'">
                        <br><h1>Салон краси</h1>
                    <p>У нас працють майстри з великим досвітом і величезним бажанням зробити Вас гарнішими та подарувати чудовий настрій.</p>
                    <div class="more_text" data-type="seo_text" >
                       <p>До послуг гостей:</p>
                        <ul class="list list_with-dash">
                            <li class="list__item">стрижка, зачіски, фарбування волосся, біозавивка волосся</li>
                            <li class="list__item">манікюр: європейський, класичний, SPA манікюр</li>
                            <li class="list__item">педикюр: класичний, SPA педикюр</li>
                        </ul>

                       <p>Салон працює щоденно з 10:00 до 20:00</p></center>
                    </div>

        </div>

      </div>
    </div>
  </center>


     <div class="container offers_page padding_top">

<center>
    <div class="col-md-6" style="width: 1250px; background: antiquewhite">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <center><div class="col-auto d-none d-lg-block">
          <img class="lazy" src="https://images.unsplash.com/photo-1554098415-cae1af5e4f1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1187&q=80"  alt="img" style="width: 550px; height: 400px">
        </div>
                    <div class="text_box" style="font-family: 'Times New Roman'">
                        <br><h1>Wi-Fi</h1>
                    <p>По всій території готелю надається безкоштовний доступ до мережі Wi-Fi швидкістю до 10 Мбіт/с.</p>
                        <p>Кожен гість легко і швидко підключить свій гаджет, а швидкість роботи Wi-Fi забезпечить безперебійний доступ до Інтеренту.</p>

                </center>
        </div>

      </div>
    </div>

    <div class="col-md-6" style="width: 1250px; background: antiquewhite">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <center><div class="col-auto d-none d-lg-block">
          <img class="lazy" src="https://images.unsplash.com/photo-1603399141431-65a36f92ecda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1136&q=80"  alt="img" style="width: 550px; height: 400px">
        </div>
                    <div class="text_box" style="font-family: 'Times New Roman'">
                        <br><h1>Парковка</h1>
                    <p>Поруч с готелем розташована відкрита парковка на 69 місць під цілодобовою охороною.</p>
                    <div class="more_text" data-type="seo_text" >
                       <p>Ціни вказані в гривні (UAH) на послуги паркінгу за добу:</p>
                        <ul class="list list_with-dash">
                            <li class="list__item">мотоцикли - 50</li>
                            <li class="list__item">легкові автомобілі - 100</li>
                            <li class="list__item">мікроавтобуси, джипи - 100</li>
                            <li class="list__item">причіп легкового автомобіля - 100</li>
                            <li class="list__item">пасажирські автобуси та вантажні автомобілі - 200</li>
                            <li class="list__item">погодинна оплата для всіх автомобілів - 35</li>
                        </ul>

                      </center>
                    </div>

        </div>

      </div>
    </div>



         <div class="container offers_page padding_top">

<center>
    <div class="col-md-6" style="width: 1250px; background: antiquewhite">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <center><div class="col-auto d-none d-lg-block">
          <img class="lazy" src="https://images.unsplash.com/photo-1639598003276-8a70fcaaad6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"  alt="img" style="width: 550px; height: 400px">
        </div>
                    <div class="text_box" style="font-family: 'Times New Roman'">
                        <br><h1>Камера зберігання</h1>
                    <p>Для зручності та безпеки наших гостей всі цінні речі, а також Ваш багаж</p>
                        <p> можна залишити в камері зберігання готелю, яка розташована в холі на 1-му поверсі.</p>

                </center>
        </div>

      </div>
    </div>

    <div class="col-md-6" style="width: 1250px; background: antiquewhite">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <center><div class="col-auto d-none d-lg-block">
          <img class="lazy" src="https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"  alt="img" style="width: 550px; height: 400px">
        </div>
                    <div class="text_box" style="font-family: 'Times New Roman'">
                        <br><h1>Гардероб</h1>
                    <p>При відвідуванні готелю, Ви можете залишити свій верхній одяг в гардеробі, який розташований в холі на 1-му поверсі.</p>
                       <p>Час роботи з 8:00 до 20:00.</p>


        </div>
    </div>
  </center>

                      <div class="container offers_page padding_top">

<center>
    <div class="col-md-6" style="width: 1250px; background: antiquewhite">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <center><div class="col-auto d-none d-lg-block">
          <img class="lazy" src="https://images.unsplash.com/photo-1582735689369-4fe89db7114c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"  alt="img" style="width: 550px; height: 400px">
        </div>
                    <div class="text_box" style="font-family: 'Times New Roman'">
                        <br><h1>Пральня</h1>
                    <p>Незмінно високий рівень сервісу, сучасні екологічні технології і постійний контроль якості.</p>
                        <p>З понеділка до п'ятниці з 08:00 до 13:00.</p>

                </center>
        </div>

      </div>
    </div>

    <div class="col-md-6" style="width: 1250px; background: antiquewhite">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <center><div class="col-auto d-none d-lg-block">
          <img class="lazy" src="https://images.unsplash.com/photo-1582654851131-e0139ab47a8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80"  alt="img" style="width: 550px; height: 400px">
        </div>
                    <div class="text_box" style="font-family: 'Times New Roman'">
                        <br><h1>Банкомат</h1>
                    <p>В холі готелю є можливість скористатися послугами банкомату, де Ви зможете зняти необхідні кошти з картки.</p>



        </div>
    </div>
  </center>


                          <br> <center><h3>Ми будемо раді вітати Вас в нашому готелі!</h3></center>

{% endblock %}
